/** Here's some very basic styling to get you started **/
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding-top: 2rem;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #f1f1f1;
    color: #333333;
}

header, main, footer {
    max-width: 768px;
    margin: auto;
}

header, footer {
    text-align: center;
}

ul {
    list-style: none;
}

.container {
    margin-right: 10px;
}

li {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

#name, #mail {
    width: 50%;
}

#msg {
    width: 75%;
    height: 200px;
}

.top-head, legend {
    font-weight: bold;
    margin-bottom: .75rem;
}

button {
    background-color: rgb(233, 8, 45);
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 3rem;
}
